.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: var(--card-color);
  box-shadow: var(--shadow);
}

.brand {
  display: flex;
  gap: 10px;
}
